<h1>Gastos</h1>

<mat-tab-group [selectedIndex]="indiceTab" (selectedIndexChange)="onTabChange($event)" animationDuration="0ms">
  <mat-tab label="Categorías">
    @if (tabActivo === 'categorias') {
      <div class="tab-body">
        <app-categorias-gasto />
      </div>
    }
  </mat-tab>
  <mat-tab label="Gastos">
    @if (tabActivo === 'gastos') {
      <div class="tab-body">
        <app-gastos-lista />
      </div>
    }
  </mat-tab>
  <mat-tab label="Gastos recurrentes">
    @if (tabActivo === 'recurrentes') {
      <div class="tab-body">
        <app-gastos-recurrentes />
      </div>
    }
  </mat-tab>
</mat-tab-group>